@using Microsoft.AspNetCore.Components.Authorization

<AuthorizeView>
    <Authorized>
        <div class="nav-menu">
            <h3>MES Navigation</h3>
            <ul>
                <li><NavLink href="/" Match="NavLinkMatch.All">Home</NavLink></li>
                <li><NavLink href="/counter">Counter</NavLink></li>
                <li><NavLink href="/fetchdata">Fetch Data</NavLink></li>
            </ul>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="nav-menu">
            <h3>Welcome</h3>
            <p>Please log in to access the system.</p>
        </div>
    </NotAuthorized>
</AuthorizeView>