@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <a href="javascript:void(0)" @onclick="Logout" class="btn btn-link">Logout</a>
                </Authorized>
                <NotAuthorized>
                    <a href="login" class="btn btn-link">Login</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    [Inject] private AuthenticationStateProvider AuthStateProvider { get; set; } = null!;
    [Inject] private NavigationManager Navigation { get; set; } = null!;

    private async Task Logout()
    {
        if (AuthStateProvider is CustomAuthenticationStateProvider customAuthProvider)
        {
            await customAuthProvider.MarkUserAsLoggedOut();
        }
        Navigation.NavigateTo("/");
    }
}