html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row ::deep a, .top-row .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
}

.top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.content {
    flex: 1;
}

.nav-menu {
    padding: 1rem;
    color: white;
}

.nav-menu h3 {
    margin-bottom: 1rem;
}

.nav-menu ul {
    list-style: none;
    padding: 0;
}

.nav-menu li {
    margin-bottom: 0.5rem;
}

.nav-menu a {
    color: white;
    text-decoration: none;
}

.nav-menu a:hover {
    text-decoration: underline;
}